# Base16 {{scheme-name}} - wezterm color config
# Scheme by {{scheme-author}}

[colors]
foreground    = "#{{base05-hex}}"
background    = "#{{base00-hex}}"
cursor_bg     = "#{{base05-hex}}"
cursor_border = "#{{base05-hex}}"
selection_bg  = "#{{base05-hex}}"
selection_fg  = "#{{base00-hex}}"

ansi = [
  "#{{base00-hex}}",
  "#{{base08-hex}}",
  "#{{base0B-hex}}",
  "#{{base0A-hex}}",
  "#{{base0D-hex}}",
  "#{{base0E-hex}}",
  "#{{base0C-hex}}",
  "#{{base05-hex}}"
]

brights = [
  "#{{base03-hex}}",
  "#{{base08-hex}}",
  "#{{base0B-hex}}",
  "#{{base0A-hex}}",
  "#{{base0D-hex}}",
  "#{{base0E-hex}}",
  "#{{base0C-hex}}",
  "#{{base07-hex}}"
]

[colors.tab_bar]
background = "#{{base00-hex}}"
[colors.tab_bar.inactive_tab]
bg_color = "#{{base00-hex}}"
fg_color = "#{{base05-hex}}"
[colors.tab_bar.active_tab]
bg_color = "#{{base05-hex}}"
fg_color = "#{{base00-hex}}"
[colors.tab_bar.new_tab]
bg_color = "#{{base05-hex}}"
fg_color = "#{{base00-hex}}"
