* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: Cantarell, Signika, Iosevka Nerd Font, Iosevka, monospace;
}

window#waybar {
    font-size: 15px;
    color: @base0F;
    background-color: @base00;
    border-bottom: 1px solid @base01;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#tags button {
    font-size:17px;
    font-weight:900;
    background-color: transparent;
    color: @base03;
    margin: 0px;
    padding: 0px 5px;
    /* Use box-shadow instead of border so the text isn't offset */
}
/* /1* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect *1/ */
#tags button:hover {
    background: rgba(0, 0, 0, 0.2);
    /* box-shadow: inset 0 -1px #d5c4a1; */
    box-shadow: inset 0 0;
}
#tags button.occupied {
    font-weight: 400;
    color: @base05;
}
#tags button.focused {
    font-weight: 400;
    color: @base0D;
}
#tags button.urgent {
    color: @base0C;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#window,
#custom-archupdates,
#custom-wireguard,
#custom-events,
#custom-vidl,
#custom-media {
    padding: 0 10px;
    margin: 0 5px;
    color: @base05;
    background-color: @base01;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #tags {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #tags {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    background-color: @base02;
}

/* Mark active output through highlighted window background */
#window {
    background-color: transparent;
}
#window.focused {
    background-color: @base01;
}

#battery.warning {
    background-color: @base09;
    color: @base00;
}

@keyframes blink {
    to {
        background-color: @base08;
        color: @base00;
    }
}

#battery.critical:not(.charging) {
    color: @base05;
    background-color: @base00;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu.warning {
    color: @base00;
    background-color: @base0A;
}
#cpu.critical {
    color: @base05;
    background-color: @base08;
}

#custom-archupdates.empty {
    background-color: transparent;
    color: transparent;
    font-size: 0;
    margin: 0;
    padding: 0;
}

#custom-wireguard.disconnected {
    background-color: transparent;
    color: transparent;
    font-size: 0;
    margin: 0;
    padding: 0;
}

#temperature.critical {
    background-color: @base08;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}


#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#mpd.disconnected {
    background-color: transparent;
    color: transparent;
    font-size: 0;
    margin: 0;
    padding: 0;
}
@import "/home/marty/.local/state/waybar/colorscheme.css";
