-- base16-nvim (https://github.com/wincent/base16-nvim)
-- by Greg Hurrell (https://github.com/wincent)
-- based on
-- base16-vim (https://github.com/chriskempson/base16-vim)
-- by Chris Kempson (https://github.com/chriskempson)
-- using nvim-base16 neovim plugin
-- by RRethy (https://github.com/RRethy/nvim-base16)
-- {{scheme-name}} scheme by {{scheme-author}}

require('base16-colorscheme').setup({
    base00 = '#{{base00-hex}}',
    base01 = '#{{base01-hex}}',
    base02 = '#{{base02-hex}}',
    base03 = '#{{base03-hex}}',
    base04 = '#{{base04-hex}}',
    base05 = '#{{base05-hex}}',
    base06 = '#{{base06-hex}}',
    base07 = '#{{base07-hex}}',
    base08 = '#{{base08-hex}}',
    base09 = '#{{base09-hex}}',
    base0A = '#{{base0A-hex}}',
    base0B = '#{{base0B-hex}}',
    base0C = '#{{base0C-hex}}',
    base0D = '#{{base0D-hex}}',
    base0E = '#{{base0E-hex}}',
    base0F = '#{{base0F-hex}}'
})

-- vim: filetype=lua
